@charset "utf-8";
/* CSS Document */

/*preloader*/
.loader {
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999999999999999999999999999999999999999999999999;
}
.loader_inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.loader .loader_inner img {
	display: block;
	-webkit-animation: 2s ease-in-out 0s normal none infinite rotateplane;
	animation: 2s ease-in-out 0s normal none infinite rotateplane;
}
.loader-circle {
	color: #f3c13e;
	font-size: 15px;
	margin: 100px auto;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load4 1.3s infinite linear;
	animation: load4 1.3s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
	box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
	box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
	box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
	box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
	box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
	box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
	box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
	box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
	box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
	box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
	box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
	box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
	box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
	box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
	box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
	box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@-webkit-keyframes rotateplane {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	}
	25% {
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	}
	50% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
	}
	75% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(-179.9deg)
	}
}
@keyframes rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	}
	25% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	}
	50% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
	}
	75% {
		transform: perspective(120px) rotateX(0deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(-179.9deg)
	}
}




.clearfix{clear:both; margin:0px; padding:0px;}
.spacer5{height:5px; margin:0px; padding:0px;}
.spacer10{height:10px; margin:0px; padding:0px;}
.spacer12{height:12px; margin:0px; padding:0px;}
.spacer15{height:15px; margin:0px; padding:0px;}
.spacer20{height:20px; margin:0px; padding:0px;}
.spacer25{height:25px; margin:0px; padding:0px;}
.spacer30{height:30px; margin:0px; padding:0px;}
.spacer35{height:35px; margin:0px; padding:0px;}
.spacer40{height:40px; margin:0px; padding:0px;}
.spacer45{height:45px; margin:0px; padding:0px;}
.spacer50{height:50px; margin:0px; padding:0px;}
.spacer60{height:60px; margin:0px; padding:0px;}
.spacer70{height:70px; margin:0px; padding:0px;}
.spacer100{height:100px; margin:0px; padding:0px;}
.spacer110{height:110px; margin:0px; padding:0px;}
a{transition:all 0.25s ease-in 0s; outline:0 none; cursor:pointer; text-decoration:none!important}
a:focus{outline:0 none;text-decoration:none!important}
:hover{transition:all 0.25s ease-in 0s;text-decoration:none!important}

h1,h2,h3,h4,h5,h6,ul,li,p,div{margin:0px; padding:0px;}
cite{font-style:normal;}

input[type="button"],input[type="submit"],button,div{-webkit-appearance: none; -moz-appearance: none; -webkit-border-radius: 0;  -moz-border-radius: 0;}

textarea:focus, input:focus{outline: none;}

div, span, p, a, i, ul, ul li, ol, ol li, img{-webkit-tap-highlight-color:  rgba(255, 255, 255, 0)}

img{font-size:0px;}

.wrapper{width:100%; margin:0px; padding:0px;}
.container{width:1280px; margin:0px auto; padding:0px; position:relative}

html,body{margin:0;height:100%;}

body{
	margin:0px; 
	padding:0px .9375em!important; 
	background:#fff;
}
.engagment-wrapper{
	background:url('../images/engagement.png') no-repeat center bottom;
	background-size:100%;	
	max-width:768px;
	width:100%;
	margin:0px auto 20px;
	padding: 50px 0px 175px;
}
.wave img, .wave-hover:hover img {
  animation: wave 2.5s infinite linear;
  animation-name: rubberBand;
}
@keyframes rubberBand {
  0% {transform:  rotate(0deg);}
  10% {transform: rotate(2deg);}
  20% {transform: rotate(4deg);}
  20% {transform: rotate(2deg);}
  40% {transform: rotate(0deg);}
  50% {transform: rotate(-2deg);}
  60% {transform: rotate(-4deg);}
  80% {transform: rotate(-2deg);}
  100% {transform: rotate(0deg);}
}
.rings {
    max-width: 200px;
    margin: 0px auto 25px;
}
.rings img{
	width:100%
}
.text-center{
	text-align:center
}
h1 {
    font: 400 65px/65px 'Pinyon Script', cursive;
    margin-bottom: 20px;
}
p {
	font: 300 14px/26px 'Spartan', sans-serif;
	color: #111;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
h4{
	font: 400 18px/30px 'Spartan', sans-serif;
	color: #111;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
a {
	font: 400 12px/18px 'Spartan', sans-serif;
	color: #111;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
a:hover, a:focus, a:active{
	color:#9d801e;
}
/*link effect*/
a:before, a:after{
	transition: all 300ms linear 0s;
}
a
{
	position:relative   
}
a:before
{
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color:transparent;
	background:#9d801e;
	height: 1px;
}
a:hover:before
{
	width: 100%;
}

@media screen and (max-width: 420px){
	.engagment-wrapper {
		padding: 50px 0px 85px;
	}
	h1 {
		margin-bottom: 30px;
	}
	.next-line {
		display: block;
	}
}













